{% extends "ga/en/base.html" %}

{% block content %}
<div class="row">
    <article class="main-content">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="video-container">
                <iframe width="420" height="315" frameborder="0" allowfullscreen="" src="//www.youtube.com/embed/au3wjRXABIY"></iframe>
            </div>
        </div>

        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <br/>
            <br/>
			
            <h2>Invitation</h2>
            

            <section class="article-contents" style="line-height:1.8em">
                <p>Greetings in the name of our Lord Jesus Christ,</p>
                <p>InterCP cordially invites you to the <span style="font-weight:bold; font-size:16px;">4th International Conference for Global Alliance and Cooperation for World Mission.</span> In the midst of extreme secularization and persecution of the world church, it is a crucial time for faithful followers of Christ to unite for the sake of the gospel.</p>
                <p>The purpose of this conference is to gather evangelical mission and church leaders for spiritual alliance and strategic partnership in the rapid completion of the Great Commission. </p>
                <p>For 3 days, the participants from the global church will gather to worship, pray, testify about the conditions of their own nation, and commit together to overcome the times and take the gospel to the ends of the earth. </p>
                <p>The conference will be followed by Vision Camp, where more than 3,000 people who are committed to overseas frontier mission will gather from all over Korea to worship and intercede for all nations. We invite you to stay and participate in Vision Camp with us. </p>
                <p>We greatly look forward to your participation in the conference and your partnership in serving the Kingdom of God. </p>
                <br/>
                <br/>
                <img src="{{ url_for('static', filename='ga/img/2015/1/main.jpg') }}" style="width:100%" />
                <br/>
                <br/>
                <h3>4th International Conference for the Spiritual Alliance of the World Churches</h3>
                <br/>
                <br/>
                <table>
                    <tr>
                        <td style="width:52px;">Topic</td>
                        <td>
                            <span style="font-weight:bold; font-size:16px;">Global Alliance and Cooperation for World Mission</span><br/>

                        </td>

                    </tr>
                    <tr>
                        <td>Speakers<br/>&nbsp;</td>
                        <td>
                            Church leaders of the 10/40 window such as the Middle Eastern Arab region, Turkey, Pakistan, Indonesia, China, Central Asia, etc <br/>
                            World Mission leaders and pastors from America, Korea, and other countries<br/>
                        </td>
                    </tr>
                    <tr>
                        <td>Participants</td>
                        <td>
                            Overseas mission field, America, and 1,000 Korean pastors</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>Wednesday, May 3, 2017 - Saturday, May 6, 2017 (Vision Camp will be held from May 5 evening to May 6 afternoon) </td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>BTJ Center in Sangju, Korea (InterCP Headquarters) </td>
                    
              <!--  </tr>
                    <tr>
                        <td>Registration fee</td>
                        <td>65,000 Won (Food and accommodations included, Vision Camp Fee is separate)</td> -->
                    </tr>
                    <tr>
                        <td>Inquiries</td>
                    <!--    <td>International Conference Team 070-8787-8697 -->
                        <td>GA@btjkorea.org</td>
                    </tr>      
                </table>
                <br/>
                <br/>
            </section>
        </div> <!--.col-*-* -->
    </article>
</div>
{% endblock %}
	