{% extends "ga/en/base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
        <span style="font-weight:bold; line-heiht:1.5em">[Domestic]</span><br/>
        <br/>
        <table>
            <tr>
                <td style="vertical-algin:top" valign="top">
                    <span style="font-weight:bold">Rev. Dr. Myung Hyuk Kim</span><br/>
                    <span style="color:#555">
                    Chairman, Korea Evangelical Fellowship (KEF)<br/>
                    Pastor Emeritus, Kangbyun Presbyterian Church<br/>
                    Past Professor, Hapdong Theological Seminary<br/>
                    </span>
                    <br/>
                    <span style="font-weight:bold">Rev. Seung Dong Kim</span><br/>
                    <span style="color:#555">
                    Former Chairman, Korean Association of Church Communication<br/>
                    Senior Pastor, Cumi Sangmo Presbyterian Church<br/>
                    Chairman of Advisory Board, InterCP<br/>
                    </span>
                    <br/>
                    <span style="font-weight:bold">Rev. Dr. Jong Kuk Kim</span><br/>
                    <span style="color:#555">
                    Kosin Denomination, Missionary to Indonesia<br/>
                    President of KWMF (Korea World Missionary Fellowship)<br/>
                    President of Indonesia Presbyterian Theological Seminary<br/>
                    </span>
                    <br/>
                    <span style="font-weight:bold">Rev. Do Su Han</span><br/>
                    <span style="color:#555">
                    Chairman of KWMF<br/>
                    International Representative of KODIA<br/>
                    The PAUL Mission, Missionary<br/>
                    </span>
                    <br/>
                    <span style="font-weight:bold">Rev. Dr. Paul Choi</span><br/>
                    <span style="color:#555">
                    Missionary to the Middle East<br/>
                    Former Professor, Handong University<br/>
                    Director, InterCP<br/>
                    </span>
                </td>
                <td style="width:20px"></td>
                <td style="vertical-algin:top" valign="top">
                    <span style="font-weight:bold">Rev. Dr. S. B. David Kim</span><br/>
                    <span style="color:#555">
                    Pastor Emeritus, Hallelujah Community Church<br/>
                    Former Chairman, World Evangelical Alliance (WEA)<br/>
                    President, Torch Trinity Graduate University<br/>
                    </span>
                    <br/>
                    <span style="font-weight:bold">Dr. Jae Sung Kim</span><br/>
                    <span style="color:#555">
                    Hapdong Theological Seminary Graduate<br/>
                    Westminster Theological Seminary Graduate<br/>
                    Vice-Chancellor, Kukje Theological University and Seminary<br/>
                    </span>
                    <br/>
                    <span style="font-weight:bold">Rev. Dr. Bong Rin Ro</span><br/>
                    <span style="color:#555">
                    President, Hawaii Theological Seminary<br/>
                    Theology Director, World Evangelical Alliance (WEA)<br/>
                    Executive Director, Asia Theological Association (ATA)<br/>
                    </span>
                    <br/>
                    <span style="font-weight:bold">Rev. Dr. Paul Han</span><br/>
                    <span style="color:#555">
                    Missionary to Indonesia<br/>
                    Former Director of Missions, the Korean Presbyterian Church<br/>
                    Secretary General, Korea World Missions Association (KWMA)<br/>
                    </span>
                    <br/>
                </td>
            </tr>
        </table>
        <br/>
        <br/>
        <span style="font-weight:bold; line-heiht:1.5em">[International – Western]</span><br/>
        <br/>
        <span style="font-weight:bold">Rev. Dr. Joel Hogan</span><br/>
        <span style="color:#555">Director of Missions, Christian Reformed Church in North America (CRCNA)<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Dr. David Ireland</span><br/>
        <span style="color:#555">Senior Pastor, Christ Church USA of New Jersey<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Thomas Keinath</span><br/>
        <span style="color:#555">Senior Pastor, Calvary Temple of New Jersey<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Dr. Georges Houssney</span><br/>
        <span style="color:#555">Islam Expert, President of Horizons International<br/></span>

        <br/>
        <br/>
        <br/>
        <span style="font-weight:bold; line-height:2.5em">[International – Non-Western]</span><br/>
        <br/>
        <span style="font-weight:bold">Rev. Bishop Amos Singh</span>, <span style="color:#555">Church leader, India<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Toufic Haddad</span>, <span style="color:#555">Church leader, Lebanon<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. J</span>, <span style="color:#555">Church leader, Azerbaijan<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Ehab Said</span>, <span style="color:#555">Church leader, Egypt<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. R</span>, <span style="color:#555">Church leader, Kyrgyzstan<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Juliana Hartojo</span>, <span style="color:#555">Church leader, Indonesia<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Oliver</span>, <span style="color:#555">Church leader, Pakistan<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Andrew H. N.</span>, <span style="color:#555">Church leader, Vietnam<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Davit Krialashivili</span>, <span style="color:#555">Church leader, Georgia<br/></span>
        <br/>
    </div>
    
</div>
{% endblock %}