<div class="wrapper">
  <header class="en"></header>
  <article class="main-content">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <section class="article-header">
          <h2>Speakers</h2>
        </section>
         <br/>
         <br/>
          <table>
            <tr>
              <td>
                <span style="font-weight:bold; line-heiht:1.5em">[Americas & Europe]</span><br/>
                <br/>
                <span style="font-weight:bold">Rev. Chris Bonner </span><br/>
                <span style="color:#555">Senior Pastor, Lansdale Life Church (Philadelphia)<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Dr. David Ireland </span><br/>
                <span style="color:#555">Senior Pastor, Christ Church (New Jersey)<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Mike Williams </span><br/>
                <span style="color:#555">Senior Pastor, Church of the Living God (Trier, Germany)<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Ramon Hernandez </span><br/>
                <span style="color:#555">Missions Director, Spanish Eastern District of <br/>the Assemblies of God (Latin America)<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Suzette Caldwell </span><br/>
                <span style="color:#555">Pastor, Windsor Village United Methodist Church (Houston)<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Dr. Thomas Keinath </span><br/>
                <span style="color:#555">Senior Pastor, Calvary Temple (New Jersey)<br/></span>
                <br/>
                <br/>
                <br/>
              </td>
            </tr>
          </table>
          
                <br/>
             <span style="font-weight:bold; line-height:1.5em">[Africa & Asia]</span><br/>
                <br/>
         <table>
            <tr>
              <td>
                <span style="font-weight:bold">Rev. Adrian Saroinsong </span><br/> <span style="color:#555">Church leader, Indonesia<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Ahmet </span><br/> <span style="color:#555">Church leader, Turkey<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Bahij Akeel </span><br/> <span style="color:#555">Church leader, Jordan<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Ehab Said  </span><br/> <span style="color:#555">Church leader, Egypt<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Ghassan Audish </span><br/> <span style="color:#555">Church leader, Iraq<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Jh </span><br/> <span style="color:#555">Church leader, China<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Johney </span><br/> <span style="color:#555">Church leader, India<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Prof. Joy Gabasa </span><br/> <span style="color:#555">Church leader, Philippines<br/></span>
                <br/>
             </td>  
                
             <td style="width:20px"></td>
             <td style="vertical-algin:top" valign="top">              
                <span style="font-weight:bold">Rev. Juliana Hartojo </span><br/> <span style="color:#555">Church leader, Indonesia<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Dr. Munir Kakish </span><br/> <span style="color:#555">Church leader, Palestine<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Najeeb Atteih </span><br/> <span style="color:#555"> Church leader, Israel<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Ramon Hernandez </span><br/> <span style="color:#555">Church leader, Latin America<br/></span>
                <br/>
                <span style="font-weight:bold"> Rev. Rolando A </span><br/> <span style="color:#555">Church leader, Filipino Arabia<br/></span>
                <br/>
                <span style="font-weight:bold"> Rev. Vartan </span><br/> <span style="color:#555">Church leader, Iran<br/></span>
                <br/>
                <span style="font-weight:bold">Rev. Xu </span><br/> <span style="color:#555">Church leader, Uzbekistan<br/></span>
                <br/>
             </td>
          </tr>
        </table>
        
            <br/>
            <br/>
          <span style="font-weight:bold; line-height:1.5em">[Korea]</span><br/>
          <br/>
          <table>
            <tr>
              <td>
                <span style="font-weight:bold">Rev. Dr. Bong-Rin Ro</span><br/>
                <span style="color:#555">
                ·President, Hawaii Theological Seminary<br/>
                ·Theology Director, World Evangelical Alliance (WEA)<br/>
                ·Executive Director, Asia Theological Association (ATA)<br/>
                </span>
                <br/>
                <span style="font-weight:bold">Rev. Bryan Han-Yoh Kim</span><br/>
                <span style="color:#555">
                ·Senior Pastor, Bethel Korean Church (Irvine, CA)<br/>
                ·Chairman of Board, China Mission USA<br/>
                ·Board Member, Silk Wave Mission<br/>
                </span>
                <br/>
                <span style="font-weight:bold">Rev. Dr. Hee-Min Park</span><br/>
                <span style="color:#555">
                ·Former Pastor, Youngnak Presbyterian Church of Los Angeles<br/>
                ·Former President, KCPA<br/>
                  (Korean Presbyterian Church Abroad)<br/>
                ·Honorary President, KWMC<br/>
                  (Korea World Mission Council)<br/>
                </span>
                <br/>
                <span style="font-weight:bold">Rev. Jae-Hoon Lee</span><br/>
                <span style="color:#555">
                ·Senior Pastor, Onnuri Church<br/>
                ·Chairman of Board, CGNTV<br/>
                ·Former Head Pastor, New Jersey Chodae Community Church (KPCA) <br/>
                </span>
                <br/>
    <!-- 아래의 주석들을 없애면 다시 2줄 배열로 돌아감 -->
    <!--          </td>

              <td style="width:20px"></td>
              <td style="vertical-algin:top" valign="top">   
    -->          

                <span style="font-weight:bold">Rev. Dr. Paul Choi</span><br/>
                <span style="color:#555">
                ·Missionary to the Middle East<br/>
                ·Former Professor, Handong University<br/>
                ·Director, InterCP<br/>
                </span>
                <br/>                      
                <span style="font-weight:bold">Rev. Dr. Samuel Sung-Sam Kang  </span><br/>
                <span style="color:#555">
                ·Former Dean, Chongshin Graduate School of Missions <br/>
                ·Former President, KWMA (Korea World Missions Association) <br/>
                ·Endowed-Chair Professor, Korea University of International Studies <br/>
                </span>
                <br/>   
                <span style="font-weight:bold">Rev. Dr. Sang-Bok David Kim</span><br/>
                <span style="color:#555">
                ·Pastor Emeritus, Hallelujah Community Church<br/>
                ·Former Chairman, World Evangelical Alliance (WEA)<br/>
                ·President, Torch Trinity Graduate University<br/>
                </span>
                <br/>
               <span style="font-weight:bold">Rev. Dr. Sung-Joo Hwang</span><br/>
               <span style="color:#555">
               ·President, Korea World Missions Association (KWMA)<br/>
               ·Founder, Loving Concern International (LCI)<br/>
               ·Director, Loving Care Hospital<br/>
                </span>
              </td>
            </tr>
          </table>
          <br/>
          <br/>   
        
      </div>
    </div>
  </article>
  <footer class="ko"></footer>
</div>
