{% extends 'admin/master.html' %}

{% block head %}
<style>
	.table1 td, .table1 th {
		border: 1px solid #ccc;
		padding: 6px;
		font-size: 10px;
	}
	
	.table2 td {
		border: 1px solid #ccc;
		padding: 12px;
		font-size: 14px;
		text-align: center;
	}
	
	@media all and (max-width: 980px) {
		.table1 td {
			border: 1px solid #ccc;
			padding: 4px;
			font-size: 9px;
			
		}
	}
	
	.row-fluid{
	     white-space: nowrap;
	     padding: 5px;
	}
</style>

{% endblock head %}

{% block body %}
{{ super() }}
<article class="row-fluid">
	<form action="#" method="GET">
		<!--  
		<div class="span5">
			<h2>정렬</h2>
			<select name="orderby">
				<option value="name">이름순</option>
				<option value="city">지역순</option>
				<option value="sex">성별순</option>
				<option value="job">직분순</option>
			</select>
		</div>
		-->
		<div class="span5">
		 
			<h2>필터</h2>
			<select name="filter">
				<option value="">전체</option>
				<option value=" and sex='남'">남자</option>
				<option value=" and sex='여'">여자</option>
				<option value=" and job='목회자'">목회자</option>
				<option value=" and job='비목회자'">비목회자</option>
			</select>
		
		</div>
		<br/><br/><br/>
		<input type="submit" value="정렬 및 필터 적용" class="btn btn-primary"/>
	</form>
	
	
	<div style="clear:both"></div>
	<br/>
	<h2>숙소 배치</h2>
	<p>아래의 리스트에서 배치할 신청자를 체크한 후에 배치할 숙소의 건물 호수가 적힌 버튼을 클릭하면 해당 방으로 배치됩니다. 완납 신청자 리스트는 지부별로 정렬됩니다.</p>
	{% set i = 0 %}
	<table class="table2">
		<tr>
		{% for r in rooms %}
			<td><button class="assign btn" action="{{ url_for('room.assign', idx=r.idx) }}">{{ r.building }}<br/>{{ r.number }}</button><br/>{{ r.occupied }} / {{ r.cap }}</td>
		{% set i=i+1 %}
		{% if i%8 == 0 %} </tr><tr> {% endif %}
		{% endfor %}
	</table>
	<br/>
    <h2>완납 신청자 리스트</h2>
    <section class="table-responsive">
    <form id="list" name="list">
        <table class="table1">
            <thead>
                <tr>
                    <th>신청날자</th>
                    <th>선택</th>
                    <th>성명</th>
                    <th>성별</th>
                    
                    <th>입금액</th>
                    <th>상태</th>
                    <th>코드</th>
                    <th>지역</th>
                    <th style="width:48px">직분</th>
                    
                    <th>교단</th>
                    
                    <th>오는날</th>
                    <th>가는날</th>
                    
                    <th>메모</th>
                    <th>동반자녀</th>
                </tr>
            </thead>
            <tbody>
                {% for m in members %}
                <tr>
                    <td>{{ m.regdate }}</td>
                    <td><input type="checkbox" name="{{ m.idx }}" id="{{ m.idx }}"/></td>
                    <td><a href="{{ url_for('list.person', idx=m.idx) }}">{{ m.name }}</a></td>
                    <td>{{ m.sex }}</td>
                    
                    <td>{% if m.amount == None %} 0 {% else %} {{ m.amount }} {% endif %}</td>
                    <td>{% if m.complete == None or m.complete == 0 %} <span style="color:gray">미납</span> {% elif m.complete == 1  %} <span style="color:blue">부분납</span> {% else %} <span style="color:red; font-weight:bold">완납</span> {% endif %}</td>
                    <td>{{ m.code }} </td>
                    <td>{{ m.city }}</td>
                    <td>{{ m.job }}</td>
                    
                    <td>{{ m.denomination }}</td>
                    
                    <td>{{ m.date_of_arrival }}</td>
                    <td>{{ m.date_of_leave }}</td>
                    
                    <td class="hidden-sm hidden-xs">{{ m.memo }}</td>
                    <td>{{ m.children }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </form>
    </section>
</article>
{% endblock body %}
{% block tail %}
{{ super() }}
<script>
$(document).ready(function() {
	$('.assign').click(function() {

		document.list.action = $(this).attr("action");
		document.list.method = 'POST';		

		document.list.submit();
	});
});
</script>
{% endblock tail %}
