<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Global Alliance For All Nations</title>
        <script data-main="{{ url_for('static', filename='js/main') }}" src="{{ url_for('static', filename='js/require.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='common/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='common/css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='common/fonts/webfonts.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='common/css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='ga/css/style.css') }}" />
    </head>
    <body lang="ko-KR">
        <div class="wrapper">
            <header>
                <a href="/ga/"><img src="{{ url_for('static', filename='ga/img/2015/1/header.jpg') }}" style="width: 100%" alt="글로벌얼라이언스"/></a>
            </header> <!-- header -->
            <div class="header-padding"></div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="row">
                    <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endwith %}


            {% block content %}
            {% endblock %}
            <div class="header-padding"></div>
            <footer>&copy; INTERCP 2016</footer>
        </div> <!-- .wrapper -->
    </body>
</html>
