{% extends "ga/base.html" %}
  <article class="main-content">
 
{% block content %}
  <div class="row">
        <div class="col-xs-13.5 col-sm-10 col-xs-offset-0.3 col-sm-offset-1 col-xs-12">
            <div class="video-container">
                <iframe width="420" height="200" frameborder="0" allowfullscreen="" src="//www.youtube.com/embed/twahhSqU8gU"></iframe>
            </div>
        </div>

     <div class="col-xs-13.5 col-sm-10 col-md-10 col-xs-offset-0.3 col-sm-offset-1">    
         <section>         
            <p>&nbsp;</p>
            <p>&nbsp;</p>
         </section>   
         

            <h2>초대의 글</h2>


            <section class="article-contents" style="line-height:1.8em;">
                <p>존귀하신 예수님의 이름으로 문안드립니다.</p>
                <p>세계는 갈수록 어두워지고 많은 교회들이 시대의 도전 앞에 점점 무력해지며, 안티 기독교 체제가 지구적으로 시스템화 되어 심화되고 있습니다.  그 어느 때보다도 충성된 세계 교회들이 우리 주 예수 그리스도와 복음을 위해 영적으로 연대해야 할 때입니다.</p>
                <p>저희 인터콥선교회는 <span style="font-weight:bold; font-size:16px;">‘Global Alliance and Cooperation For World Mission’</span> 이라는 주제로 <span style="font-weight:bold; font-size:16px;">제4회 국제컨퍼런스</span>를 아래의 일정으로 개최합니다.</p>
                <p>이번 국제컨퍼런스는 모든 복음주의 세계교회의 영적동맹과 전략적 파트너십의 연대를 통한 주님의 지상 대명령의 완성을 위해 준비되었으며,<strong>&quot;국내 선교 지도자들과 선교 현지를 포함한 세계 각국 여러 교회 지도자들이 참가합니다. 2015년에 개최된 제 3회 컨퍼런스에는 국내와 해외, 선교지 각국에서 총 2500명이 참가하였습니다.&rdquo;</p>
                <p>3 일 간의 컨퍼런스 동안 예배, 말씀, 기도와 함께 각 민족 교회의 현황과 선교전략을 나눕니다. 컨퍼런스에 이어 한국교회 모든 세대 선교 관심자와 헌신자 3,000여 명이 모여 잃어버린 민족들을 향한 하나님의 마음으로 열방을 향해 전심으로 헌신하며 나아가는 비전캠프가 1박 2일간 진행됩니다.</p>
                <p><strong> &quot;글로벌 얼라이언스 컨퍼런스와 비전캠프를 통해 신실한 복음주의 세계교회가 영적 동맹하여 이 시대를 이기고 천국복음을 땅끝까지 전하며 주님의 다시 오실 길을 예비하는 교회로 일어날 것입니다. </p>
                <p>이 귀한 자리에 목사님을 초대합니다.&rdquo;</p>
                <br/>
                <br/>
                <img src="{{ url_for('static', filename='ga/img/2015/1/main.jpg') }}" style="width:100%" />
                <br/>
                <br/>
                <h3>세계교회 영적동맹을 위한 제4회 국제컨퍼런스</h3>
                 <table>
                 <tr>
                 <td style="font-weight:bold; font-size:16px;">주제</td>
                        <td>
                            <span style="font-weight:bold; font-size:16px;">Global Alliance and Cooperation for World Mission</span><br/>
                            <span style="font-weight:bold; font-size:16px;">세계교회 영적동맹</span>
                        </td>

                    </tr>
                    <tr>
                        <td>강사<br/>&nbsp;</td>
                        <td>
                            중동 아랍, 터키, 파키스탄, 인도네시아, 중국, 중앙아시아 등 10/40창 현지 교회 지도자<br/>
                            미국 등 세계 선교 지도자 및 목회자, 한국 선교 지도자<br/>
                        </td>
                    </tr>
                    <tr>
                        <td> 참가자</td>
                        <td style="font-weight:bold; font-size:16px;">10/40창 현지 교회 지도자, 미주 및 국내 목회자 약 2천명</td>
                    </tr>
                    <tr>
                        <td> 일시</td>
                        <td style="font-weight:bold; font-size:16px;">2017년 5월 3일(수) ~ 5월 6일(토) </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="font-weight:bold; font-size:16px;"><p>-국제컨퍼런스 : 5월 3일(수) 오전 - 5월  5일(금) 오후<br />
                          -비전캠프(참가비 별도) : 5월 5일(금) 저녁7시 - 5월 6일(토) 오후5시
                        </p></td>
                    </tr>
                    <tr>
                        <td>장소</td>
                        <td>BTJ 열방센터 내 비전센터</td>
                    </tr>
                    <tr>
                        <td>참가비</td>
                        <td>6만 5천원(숙식 포함), 비전캠프 참가시 비용 별도</td>
                    </tr>
                    <tr>
                        <td>계좌번호</td>
                        <td>&nbsp; &nbsp;국민은행&nbsp;832701-01-387537 (예금주:전문인국제***(지에이)) </td>
                    </tr>
                    
                    <!--<tr>
                        <td>홈페이지</td>
                        <td><span> www.btjkorea.org</span></td>
                    </tr>-->
                    
                    <tr>
                        <td>문의</td>
                        <td><span>070-8787-8899 &nbsp; 국제컨퍼런스팀 GA@btjkorea.org</span></td>
                    </tr>
          <br/>
          <br/>
          <br/>
                    <tr>
                        <td></td>
                        <td style="font-size:10px;">주최:&nbsp;&nbsp;<img src="{{ url_for('static', filename='ga/img/2015/1/logo_intercp.jpg') }}" width=150 height=60> &nbsp; 
                   <tr>
                        <td></td>
                        <td style="font-size:10px;">협력:&nbsp;&nbsp;<img src="{{ url_for('static', filename='ga/img/2015/1/logo_kwma.jpg') }}"width=150 height=60>
                    <tr>
                        <td></td>
                        <td style="font-size:10px;">후원:&nbsp;&nbsp;<img src="{{ url_for('static', filename='ga/img/2015/1/logo_CTSTV.jpg') }}" width=100 height=30>&nbsp;&nbsp; <img src="{{ url_for('static', filename='ga/img/2015/1/logo_CGNTV.jpg') }}"  width=100 height=30>&nbsp;&nbsp;
                                 <img src="{{ url_for('static', filename='ga/img/2015/1/logo_GoodTV.jpg') }}"  width=100 height=30></td>
                    </tr> 

                </table>

            </section>
        </div> <!--.col-*-* -->
    </div> <!--.row-->

  <!--
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1 col-xs-12">
    <p style="font-weight:bold; border-bottom:1px solid #ccc">보도자료</p>
    <p>[국민일보] <br/><a href="http://www.kmib.co.kr/view.asp?arcid=0923085498&code=23111117&sid1=chr&sid2=0002">“세계 선교 기본자세는 존중·공존”… 인터콥선교회 주최 목회자선교콘퍼런스</a></p>
    <p>[크리스찬투데이] <br/><a href="http://www.christiantoday.co.kr/view.htm?id=283416">CRC 선교부 조엘 호건 총재, 인터콥 국제 콘퍼런스서 강연</a></p>
    <p>[크리스찬투데이] <br/><a href="http://www.chtoday.co.kr/view.html?id=283443">세계교회, "영적 동맹으로 지상명령 완수" 선언</a></p>
    <p>[고신교단_코람데오닷컴] <br/><a href="http://www.kscoramdeo.com/news/articleView.html?idxno=8506"><목회자국제선교컨퍼런스> 2박3일 일정으로 개막_선교현지 목회자 및 선교지도자 등 2천여명 참가한 가운데 열려</a></p>
    <p>[백석교단_아이굿뉴스] <br/><a href="http://www.igoodnews.net/news/articleView.html?idxno=45830">“최소 150만명 무슬림, 기독교로 개종… 동역으로 선교 붐 일으키자"</a></p>
    <p>[선교신문] <br/><a href="http://www.missionews.co.kr/article.htm?_method=view&module_srl=54&no=475140">현지 목회자, 선교지도자 등 2,400여 명 참가한 ‘목회자국제선교컨퍼런스’ 개막</a></p>
    <p>[뉴스파워] <br/><a href="http://www.newspower.co.kr/sub_read.html?uid=27209&section=sc4&section2=">"역사는 전진한다" 목회자국제선교컨퍼런스</a></p>
    <p>[크리스찬투데이] <br/><a href="http://www.christiantoday.co.kr/view.htm?id=283355">"복음주의 세계교회 영적동맹"</a></p>

    <p>[크리스찬투데이] <br/><a href="http://www.christiantoday.co.kr/view.htm?id=282652">세계선교 지도자 1천 명 모여 전략 논의한다</a></p>
    <p>[미션투데이] <br/><a href="http://www.missiontoday.co.kr/For-God-so-loved-the-world-that-he-gave-his-only-begotten-Son/?p=4160">선교지 목회자 및 세계선교지도자 1천명 참가하는 역대 최대 ‘목회자국제선교컨퍼런스’ 국내 개최 예정</a></p>
    <p>[뉴스파워] <br/><a href="http://www.newspower.co.kr/sub_read.html?uid=27034&section=sc4&section2=">복음주의 세계교회 영적동맹 국제컨퍼런스</a></p>
    <p>[한국기독일보]<br/><a href="http://www.christiandaily.co.kr/news/%EC%84%B8%EA%B3%84%EA%B5%90%ED%9A%8C-%EC%98%81%EC%A0%81-%EB%8F%99%EB%A7%B9-%EC%9C%84%ED%95%9C-%EB%AA%A9%ED%9A%8C%EC%9E%90%EA%B5%AD%EC%A0%9C%EC%84%A0%EA%B5%90%EC%BB%A8%ED%8D%BC%EB%9F%B0%EC%8A%A4-%EC%97%B4%EB%A6%B0%EB%8B%A4-57072.html">세계교회 영적 동맹 위한 목회자국제선교컨퍼런스 열린다</a></p>
    <p>[선교신문] <br/><a href="http://www.missionews.co.kr/article.htm?_method=view&module_srl=54&no=474581">세계교회 영적 동맹 위한 목회자국제선교컨퍼런스 열린다</a></p>
    <br/>
    </div>
    <div class="col-sm-5 col-xs-12">
    <p style="font-weight:bold; border-bottom:1px solid #ccc">관련영상</p>
    <table>
        <tr>
            <td><a href="https://www.youtube.com/watch?v=5Z5h3MBfaPc">[CGNTV보도]<br/> 세계교회, 영적동맹으로 하나되다<br/><img style="width:250px" src="{{ url_for('static', filename='ga/img/video3.png') }}"/></a><br/></td>
        </tr>
        <tr>
            <td><a href="https://www.youtube.com/watch?v=MDsBtiieRf0">중국 순목사의 옥중 찬양<br/>(제2회 국제컨퍼런스 중)<br/><img style="width:250px" src="{{ url_for('static', filename='ga/img/video1.jpg') }}"/></a><br/></td>
        </tr>
        <tr>
            <td><br/></td>
        </tr>
        <tr>
            <td><a href="https://www.youtube.com/watch?v=ek6-8EfKhyk">핍박을 이겨낸 타지키스탄 교회<br/>(제2회 국제컨퍼런스 중)<br/><img style="width:250px" src="{{ url_for('static', filename='ga/img/video2.jpg') }}"/></a><br/></td>
        </tr>

    </table>
    <div style="margin-bottom:80px;"></div>
  </div>
      </div>
   -->
</article>

{% endblock %}
