{% extends "ga/base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <section class="article-header">
          <h2>강사 소개</h2>
      </section>
      <br/>
        <span style="font-weight:bold; line-heiht:1.5em">[국내]</span><br/>
        <br/>
        <table>
            <tr>
                <td style="vertical-algin:top" valign="top">
                    <span style="font-weight:bold">강승삼 목사 Rev. Dr. Samuel Sung-Sam Kang</span><br/>
                    <span style="color:#555">
                    ·총신대 전 선교대학원장<br/>
                    ·한국세계선교협의회(KWMA) 증경회장 <br/>
                    ·한반도국제대학원대학교(KUIS) 석좌교수<br/>
                    </span>
                    <br/>
                    <span style="font-weight:bold">김상복 목사 Rev. Dr. Sang-Bok David Kim</span><br/>
                    <span style="color:#555">
                    ·할렐루야교회 원로목사<br/>
                    ·WEA(세계복음주의협의회) 전 회장<br/>
                    ·횃불트리니티 신학대학원대학교 총장<br/>
                    </span>
                    <br/>
                    <span style="font-weight:bold">김한요 목사 Rev. Bryan Han-Yoh Kim</span><br/>
                    <span style="color:#555">
                    ·베델한인교회(Irvine, USA) 담임목사<br/>
                    ·중국선교회 미주 이사장<br/>
                    ·실크웨이브선교회 이사<br/>
                    </span>
                    <br/>
                    <span style="font-weight:bold">노봉린 박사 Rev. Dr. Bong-Rin Ro</span><br/>
                    <span style="color:#555">
                    ·하와이 국제신학교 총장<br/>
                    ·세계복음주의협의회(WEF) 신학분과 총무<br/>
                    ·아세아신학협의회(ATA) 실행총무<br/>
                    </span>
                    <br/>
                </td>
                
                <td style="width:20px"></td>
                <td style="vertical-algin:top" valign="top"> 
                    <span style="font-weight:bold">이재훈 목사 Rev. Jae-Hoon Lee</span><br/>
                    <span style="color:#555">
                    ·온누리교회 담임목사<br/>
                    ·CGNTV 이사장<br/>
                    ·뉴저지초대교회(KPCA교단) 전 담임목사<br/>
                    </span>                    
                    <br/>
                    <span style="font-weight:bold">최바울 선교사 Rev. Dr. Paul Choi</span><br/>
                    <span style="color:#555">
                    ·중동아시아 선교사<br/>
                    ·한동대 전 교수<br/>
                    ·인터콥선교회 본부장<br/>
                    </span>
                    <br/>

                </td>
            </tr>
        </table>
        <br/>
        <br/>
        <span style="font-weight:bold; line-heiht:1.5em">[해외-서구권]</span><br/>
        <br/>
        <span style="font-weight:bold">Rev. Dr. Joel Hogan</span><br/>
        <span style="color:#555">미국 CRC(Christian Reformed Churches) 교단 선교부 총재<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Dr. David Ireland</span><br/>
        <span style="color:#555">뉴저지 Christ Church USA 담임목사<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Thomas Keinath</span><br/>
        <span style="color:#555">뉴저지 Calvary Temple 담임목사<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Dr. Georges Houssney</span><br/>
        <span style="color:#555">이슬람 전문가, Horizons International 대표<br/></span>

        <br/>
        <br/>
        <br/>
        <span style="font-weight:bold; line-height:2.5em">[해외-비서구권]</span><br/>
        <br/>
        <span style="font-weight:bold">Rev. Bishop Amos Singh</span>, <span style="color:#555">인도 교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Toufic Haddad</span>, <span style="color:#555">레바논 교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. J</span>, <span style="color:#555">아제르바이잔 교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Ehab Said</span>, <span style="color:#555">이집트 교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. R</span>, <span style="color:#555">키르기즈스탄 교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Juliana Hartojo</span>, <span style="color:#555">인도네시아 교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Oliver</span>, <span style="color:#555">파키스탄 교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Andrew H. N.</span>, <span style="color:#555">베트남 교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Davit Krialashivili</span>, <span style="color:#555">조지아 교회 지도자<br/></span>
        <br/>
    </div>

</div>
{% endblock %}
