{% extends "ga/base.html" %}

{% block content %}

 <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-10" width="500">
      <section class="article-header">
          <h2>강사 소개</h2>
      </section>
      <br/>
        <span style="font-weight:bold; line-heiht:1.5em">[국내]</span><br/>
        <br/>
        <table>
            <tr>
                <td>
                    <span style="font-weight:bold">강승삼 목사 Rev. Dr. Samuel Sung-Sam Kang</span><br/>
                    <span style="color:#555">
                    ·총신대 전 선교대학원장<br/>
                    ·한국세계선교협의회(KWMA) 증경회장 <br/>
                    ·한반도국제대학원대학교(KUIS) 석좌교수<br/>
                    </span>
                    <br/>
                    <span style="font-weight:bold">김상복 목사 Rev. Dr. Sang-Bok David Kim</span><br/>
                    <span style="color:#555">
                    ·할렐루야교회 원로목사<br/>
                    ·WEA(세계복음주의협의회) 전 회장<br/>
                    ·횃불트리니티 신학대학원대학교 총장<br/>
                    </span>
                    <br/>
                    <span style="font-weight:bold">김한요 목사 Rev. Bryan Han-Yoh Kim</span><br/>
                    <span style="color:#555">
                    ·베델한인교회(Irvine, USA) 담임목사<br/>
                    ·중국선교회 미주 이사장<br/>
                    ·실크웨이브선교회 이사<br/>
                    </span>
                    <br/>
                    <span style="font-weight:bold">노봉린 박사 Rev. Dr. Bong-Rin Ro</span><br/>
                    <span style="color:#555">
                    ·하와이 국제신학교 총장<br/>
                    ·세계복음주의협의회(WEF) 신학분과 총무<br/>
                    ·아세아신학협의회(ATA) 실행총무<br/>
                    </span>
                    <br/>
                </td>
                
                <td style="width:20px"></td>
                <td style="vertical-algin:top" valign="top"> 
                    <span style="font-weight:bold">이재훈 목사 Rev. Jae-Hoon Lee</span><br/>
                    <span style="color:#555">
                    ·온누리교회 담임목사<br/>
                    ·CGNTV 이사장<br/>
                    ·뉴저지초대교회(KPCA교단) 전 담임목사<br/>
                    </span>                    
                    <br/>
                    <span style="font-weight:bold">최바울 선교사 Rev. Dr. Paul Choi</span><br/>
                    <span style="color:#555">
                    ·중동아시아 선교사<br/>
                    ·한동대 전 교수<br/>
                    ·인터콥선교회 본부장<br/>
                    </span>
                    <br/>

                </td>
            </tr>
        </table>
        <br/>
        <br/>
        
        
        <table>        
            <tr>
                <td>
                        
        <span style="font-weight:bold; line-heiht:1.5em">[해외-서구권]</span><br/>
        <br/>
        <span style="font-weight:bold">Rev. Chris Bonner 목사</span><br/>
        <span style="color:#555">필라델피아 Lansdale Life Church 담임목사<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Dr. David Ireland</span><br/>
        <span style="color:#555">뉴저지 Christ Church USA 담임목사<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Mike Williams 목사</span><br/>
        <span style="color:#555">독일 트리어 Church of the Living God 담임목사<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Suzette Caldwell 목사</span><br/>             
        <span style="color:#555">휴스턴 Windsor Village United Methodist Church 목사<br/></span>        
        <br/> 
        <span style="font-weight:bold">Rev. Dr. Thomas Keinath 목사</span><br/>             
        <span style="color:#555">뉴저지 Calvary Temple 담임목사<br/></span>        
        <br/>                                                                      
        <br/>
        <br/>
        
        </td>
                <td>                
        <span style="font-weight:bold; line-height:1.5em">[해외-비서구권]</span><br/>
        <br/>
        <span style="font-weight:bold">Rev. Adrian Saroinsong 목사</span>, <span style="color:#555">인도네시아교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Ahmet 목사</span>, <span style="color:#555">터키교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Bahij Akeel 목사</span>, <span style="color:#555">요르단교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Ehab Said 목사</span>, <span style="color:#555">이집트교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Ghassan Audish 목사</span>, <span style="color:#555">이라크교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Jh 목사</span>, <span style="color:#555">중국교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Johney 목사</span>, <span style="color:#555">인도교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Prof. Joy Gabasa 목사</span>, <span style="color:#555">필리핀교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Juliana Hartojo 목사</span>, <span style="color:#555">인도네시아교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Dr. Munir Kakish 목사</span>, <span style="color:#555">팔레스타인교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Najeeb Atteih 목사</span>, <span style="color:#555">이스라엘교회 지도자<br/></span>
        <br/>
        <span style="font-weight:bold">Rev. Ramon Hernandez 목사</span>, <span style="color:#555">남미교회 지도자<br/></span>
        <br/>        
        <span style="font-weight:bold"> Rev. Rolando A 목사</span>, <span style="color:#555">아라비아필리핀교회 지도자<br/></span>
        <br/>        
        <span style="font-weight:bold"> Rev. Vartan 목사</span>, <span style="color:#555">이란교회 지도자<br/></span>
        <br/>       
        <span style="font-weight:bold">Rev. Xu 목사</span>, <span style="color:#555">우즈벡교회 지도자<br/></span>
        <br/>        
        <span style="font-weight:bold">Rev. Yerkinbek 목사</span>, <span style="color:#555">카자흐스탄교회 지도자<br/></span>
        <br/>          
           </td>
        </tr>
      </table>
        
    </div>

</div>
{% endblock %}
