{% extends "ga/base.html" %}

{% block content %}
<div class="row">
    <article class="main-content">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            <br/>
            <h2>참가비 안내</h2>
            <p>* 전체 일정 참가: 65,000원 * 1박2일 참가: 45,000원 * 하루 참가자: 30,000원<br/>
                (숙식포함, 비전캠프 참가비 별도)
            </p>
            <p>
                계좌번호: 국민은행 832701-01-362846 (예금주:전문인국제***(GA))<br/>
                입금자 명에 참가자의 지역과 이름 기입해 주세요. 예)서울 김선교
            </p>
            <p>* 문 의: 국제컨퍼런스팀 070-8787-6544~8 / GA@btjkorea.org</p>
            <p>* 환 불: 2주전(5/6)은 전액, 2주~전날(5/19) 50%, 당일취소 불가</p>
            <br/>
            <br/>
        </div>
        
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
			<section class="article-header">
				<h2>참가 신청서 작성</h2>
			</section>
			
			<section class="article-contents">
				<form class="form" role="form" id="form" action="#" method="POST">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td><label for="name">성명</label></td>
                                <td colspan="3"><input type="text" name="name" id="name" size="12"/></td>
                            </tr>
                            <tr>
                                <td><label for="name">영문 이름</label></td>
                                <td colspan="3"><input type="text" name="enname" id="enname" size="12"/></td>
                            </tr>
                            <tr>
                                <td><label for="sex">성별</label></td>
                                <td colspan="3">
                                    <select name="sex">
                                        <option value="M">남자</option>
                                        <option value="F">여자</option>
                                    </select>
                                </td>
                            </tr>
                            
                            <tr>
                                <td><label for="hp">연락처</label></td>
                                <td colspan="3"><select name="hp" id="hp">
                                    <option value="010">010</option>
                                    <option value="011">011</option>
                                    <option value="016">016</option>
                                    <option value="017">017</option>
                                    <option value="018">018</option>
                                    <option value="019">019</option>
                                </select>
                                -<input name="hp2" id="hp2" type="text" size="4"/>
                                -<input name="hp3" id="hp3" type="text" size="4"/></td>
                            </tr>
                            <tr>
                                <td><label for="location">지역(지부)</label></td>
                                <td colspan="3">
                                    <select name="location">
                                        <option value="국내">국내</option>
                                        <option value="해외">해외</option>
                                    </select>&nbsp;
                                    <input type="text" name="city" id="city" placeholder="(도시 이름을 적어주세요)" />
                                </td>
                            </tr>
                            <tr>
                                <td>소속교회</td>
                                <td colspan="3"><input type="text" name="church" /></td>
                            </tr>
                            <tr>
                                <td>교회주소</td>
                                <td colspan="3"><input type="text" name="address" /></td>
                            </tr>

                            <tr>
                                <td><label for="persontype">참가구분</label></td>
                                <td colspan="3">
                                    <select name="persontype" id="persontype">
                                        <option value="">선택하세요</option>
                                        <option value="목회자">목회자</option>
                                        <option value="비목회자">비목회자</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <select name="etcperson">
                                        <option value="여성시니어">여성시니어</option>
                                        <option value="스텝">스텝</option>
                                        <option value="청년">청년</option>
                                        <option value="청소년">청소년</option>
                                        <option value="어린이">어린이</option>
                                        <option value="키즈">키즈</option>
                                    </select>
                                </td>
                            </tr>
                            
                            
                            <tr>
                                <td><label for="denomination">교단</label></td>
                                <td colspan="3"><input type="text" name="denomination" id="denomination"/></td>
                            </tr>
                            <tr>
                                <td><label for="fullcamp_yn">참가형태</label></td>
                                <td colspan="3">
                                    <select name="fullcamp_yn">
                                        <option value="1">전체참가</option>
                                        <option value="0">부분참가</option>
                                    </select>
                                </td>
                            </tr>
                            <tr id="bubun">
                                <td>오는날</td>
                                <td><select name="date_of_arrival">
                                    <option selected value="2015-05-20">2015-05-20</option>
                                    <option value="2015-05-21">2015-05-21</option>
                                    <option value="2015-05-22">2015-05-22</option>
                                </select></td>
                                <td>가는날</td>
                                <td><select name="date_of_leave">
                                    <option value="2015-05-20">2015-05-20</option>
                                    <option value="2015-05-21">2015-05-21</option>
                                    <option selected value="2015-05-22">2015-05-22</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td><label for="mit_yn">비전캠프 참가 여부</label></td>
                                <td colspan="3">
                                    <input type="radio" name="mit_yn" id="mit_y" value="1"/>&nbsp;&nbsp;<label for="mit_y">예</label>&nbsp;
                                    <input type="radio" name="mit_yn" id="mit_n" value="0"/>&nbsp;&nbsp;<label for="mit_n">아니오</label>
                                </td>
                            </tr>
                            <tr>
                                <td>GA를 어떻게 알게 되었나요?</td>
                                <td colspan="3">
                                    <label><input type="checkbox">주변사람들의 추천</label><br/>
                                    <label><input type="checkbox">언론매체 및 홍보물(포스터/브로셔/현수막)</label><br/>
                                    <label><input type="checkbox">인터콥소속 선교사 파송교회</label><br/>
                                    <label><input type="checkbox">인터콥 협력교회</label><br/>
                                    <label><input type="checkbox">목선협(KPMA)</label><br/>
                                    <label><input type="checkbox">목회자 비전스쿨</label><br/>
                                    <label><input type="checkbox">기타</label><br/>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="children">동반자녀</label></td>
                                <td><input type="text" name="children" id="children" placeholder="이름, 나이, 성별, 인원수 등"/></td>
                            </tr>
                            <tr>
                                <td><label for="language">통역 필요</label></td>
                                <td colspan="3">
                                    <select name="language" id="language">
                                        <option value="필요 없음">필요 없음</option>
                                        <option value="영어">영어</option>
                                        <option value="중국어">중국어</option>
                                        <option value="그 외 언어">그 외 언어</option>
                                    </select>&nbsp;
                                    <input type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td><label for="memo">요청사항</label></td>
                                <td colspan="3"><textarea cols="20" rows="6" name="memo" id="memo" placeholder="숙소배치 등과 관련해서 컨퍼런스 팀에 요청사항이 있다면 남겨주세요"></textarea></td>
                            </tr>
                            
                            <tr>
                                <td colspan="4">** 신청 정보 조회 변경 및 취소를 위해서 이메일주소를 입력해주세요.</td>
                            </tr>
                            <tr>
                                <td><label for="email">이메일</label></td>
                                <td colspan="3"><input type="text" name="email" id="email" size="12"/></td>
                            </tr>
                            
                            <tr>
                                <td colspan="4">
                                    <p style="text-align:center"><input type="button" onclick="submit_form()" class="btn btn-default" value="신청 완료" /></p>
                                </td>
                            </tr>
                        </table><!--/table-->
                    </div>
					<input type="hidden" name="contact" id="contact"/>
					<input type="hidden" name="birth" id="birth"/>
					<input type="hidden" name="campidx" id="campidx" value="{{ campidx }}"/>
				</form>
			</section>
        </div>
    </article>
    <script src="{{ url_for('static', filename='ga/js/reg-individual.js') }}"></script>
</div> <!-- .row -->
{% endblock %}