header {
    max-width: 700px;
}

.header-padding {
    padding-top: 100px;
}


@media all and (max-width: 768px) {
    .header-padding {
        padding-top: 200px;
    }
}


@media all and (max-width: 480px) {
    .header-padding {
        padding-top: 150px;
    }
}

footer {
    width: 100%;
    max-width: 700px;
	background-color: #39393b;
    padding: 5px 5px 5px 15px;
    color: #aeaeae
}

.divider
{
	border-top: 1px solid #2E4A9A;
}

table td {
    vertical-align: top;
    padding-bottom: 12px;
}

p, span {
    text-align: left;
}
